/* font-family: 'Playball', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Sofia', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    margin-bottom: 130px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 60px;
}
.half-width h2{
    font-size: 50px;
    font-weight: 600;
}
.half-width .orange{
    color: orange;
}
.half-width h3{
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    margin: 12px 0;
    background-color: rgb(255, 196, 1);
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
.half-width img{
    width: 85%;
    margin-top: 30px;
}
.half-width p{
    margin-bottom: 20px;
}
.hire-btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin: 0 auto;
}
.hire-btn:hover{
    background: linear-gradient(45deg, tomato, lightsalmon);
}
.Dream-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.half-width h4{
    font-size: 40px;
}