/* font-family: 'Playball', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Sofia', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 130px;
    height: 80%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 60px;
}
.half-width h2{
    font-size: 50px;
    font-weight: 600;
}
.orange{
    color: orange;
}
.sub-heading{
    font-family: 'Poiret One', cursive;
    margin: 12px 0;
    font-weight: 900;
    background-color: rgb(255, 196, 1);
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
.half-width img{
    width: 85%;
    margin-top: 30px;
}
.half-width p{
    margin-bottom: 20px;
    /* font-family: 'Sofia', cursive; */
}
.hire-btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin: 0 auto;
}
.hire-btn:hover{
    background: linear-gradient(45deg, tomato, lightsalmon);
}
.Dream-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.half-width h4{
    font-size: 40px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-heading{
    font-size: 27px;
    padding: 15px 0 20px 0;
    margin-left: 5%;
}
.experience-heading1{
    font-size: 27px;
    padding: 15px 0 20px 0;
}
.padding{
    margin: 10px 0 20px 0;
}
.experience-item{
    width: 40%;
    margin: 0 5%;
    padding: 25px 15px;
    box-shadow: 5px 6px 30px gray;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}